$borderTest:1px solid red;
@mixin setPadMar {
    margin:0;
    padding:0;
}
@mixin center {
    margin: 0 auto 0 auto;
}
@mixin setFull {
    width:100%;
    height:100%;
}
@mixin backgroundColor ($opacity){
    background-color:rgba(178,202,238,$opacity);
}
@mixin alignJustifyCenter{
    align-items: center;
    justify-content: center;
}
@mixin bannerBackground($opacity){
    background:url("images/DecoBanner.svg");
    background-repeat: repeat-y;
    background-size:75%;
    opacity: $opacity;
}

$sectionDeco: lightgray;
$backdropVar:30%;
$darkBlue:#162E50;
$lightBlue:#618FCA;
$iconSize:50px;
html::-webkit-scrollbar{
    display:none;
}
html{
    @include setFull();
    scroll-behavior: smooth;
    //hide scroll bar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */

    body{
        border:$borderTest;
        @include setPadMar();
        @include setFull();
        overflow:hidden;
        display:flex;
        flex-direction:row;
        @include backgroundColor(0.1);

        //banner
        .banner{
            // border:$borderTest;
            position: relative;
            width:50px;
            height:100%;
            overflow:hidden;
        }
        #resumeBanner{
            position:sticky;
            position: -webkit-sticky;
            left:0;
            top:0;
            // border:$borderTest;
            height:100%;
            @include backgroundColor(1);
            @include bannerBackground(15%);
            transform: rotateZ(180deg);

        }

        #content{
            @include setFull();
            overflow:scroll;
            // border:$borderTest;
            #react{
                @include setFull();
                position:relative;
                //first greeting page
                #greetingSection{
                    @include setFull();
                    @include backgroundColor(0.15);
                    display:flex;
                    flex-direction: row;
                    position: relative;
                    //decoBanner
                    #greetingBanner{
                        @include bannerBackground(50%);
                        min-width: 50px;
                    }
                    //content
                    #greetingContent{
                        // border:$borderTest;
                        @include setFull();
                        display:flex;
                        flex-direction: column;
                        //welcome bar
                        #welcome{
                            // border:$borderTest;
                            width:fit-content;
                            height:25px;
                            padding-left:5%;
                            padding-top:25px;
                            span{  
                                border-top:2px solid $darkBlue;
                                padding-top:10px;
                                font-size:18px; //temp- change later
                            }
                        }

                        //the actual content (finally)
                        #greetings{
                            // border:$borderTest;
                            @include setFull();
                            display:grid;
                            grid-template-columns:1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                            grid-template-areas: 'greeting logo'
                                                 'greeting logo';

                            
                            align-items: center;
                            justify-content: center;
                            //right side -> images
                            #logoImage{
                                // border:$borderTest;
                                position: relative;
                                grid-area:logo;
                                width:100%;
                                min-height:350px;
                                height:100%;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                #imageSize{
                                    // border:$borderTest;
                                    position: relative;
                                    width:50%;
                                    min-width:300px;
                                    height:fit-content;
                                    min-height:250px;
                                    img{
                                        @include setFull();
                                        object-fit: contain;
                                        margin-bottom: $backdropVar;
                                    }
                                    #portfolioBackdrop{
                                        position: absolute;
                                        z-index: -1;
                                        top:calc(70 - $backdropVar) + "px";
                                        right:70px;
                                    }
                                    
                                }
                            }
                            #greets{
                                // border:$borderTest;
                                grid-area:greeting;
                                width:100%;
                                height:100%;
                                display:flex;
                                @include alignJustifyCenter();
                                #container{
                                    // border:$borderTest;
                                    width:75%;
                                    min-width:450px;
                                    height:50%;
                                    margin-left:20%;
                                    margin-bottom:25%;

                                    display:flex;
                                    flex-direction: column;
                                    justify-content: space-between;
                                    #greetingInfo{
                                        // border:$borderTest;
                                        margin-bottom:25%;
                                        h1{
                                            font-size:50px;
                                        }
                                        h2{
                                            font-size:25px;
                                        }
                                    }

                                    //below are all of the links
                                    #refLinks{
                                        // border:$borderTest;
                                        width:25%;
                                        height:100px;
                                        min-width: 125px;
                                        display:grid;
                                        grid-template-rows:1fr 1fr;
                                        grid-template-columns: 1fr 1fr;
                                        grid-template-areas: 'linkedin github'
                                                             'scrollBtn scrollBtn';
                                        
                                        @include alignJustifyCenter();
                                        gap: 10px;
                                        a,a:visited{
                                            color:$lightBlue;
                                            text-decoration:none;
                                            display:flex;
                                            @include alignJustifyCenter();
                                        }
                                        a:hover{
                                            text-shadow: 1px 1px $darkBlue;
                                            transition:0.3s;
                                        }
                                        #linkedIn{
                                            grid-area:linkedin;
                                            font-size:$iconSize;
                                        }
                                        #gitHub{
                                            grid-area:github;
                                            font-size:$iconSize;
                                        }
                                        #scrollButton{
                                            grid-area:scrollBtn;
                                            border-radius:15px;
                                            height:40px;
                                            background-color:$lightBlue;
                                            color:white;
                                            text-align: center;
                                            font-size:20px; //temp-chage later
                                        }
                                        #scrollButton:hover{
                                            box-shadow: 1px 1px $darkBlue;
                                            transition:0.3s;
                                            text-shadow: none;
                                        }
                                        
                                    }
                                }
                            }
                        }

                    }

                }
                //second resume section
                #resumeSection{
                    // border:$borderTest;
                    // @include backgroundColor(0.05);
                    // background-attachment: fixed;
                    @include setFull();
                    height:fit-content;
                    display:flex;
                    flex-direction:row;
                    
                    .roundDeco{
                        width:20px;
                        height:20px;
                        border-radius:25px;
                        background-color:$sectionDeco;
                        position: absolute;
                        top:0px;
                        left:-10px;
                        transition: 0.5s;
                    }
                    #resumeContext{
                        @include setFull();
                        // border:$borderTest;
                        width:85%;
                        margin:0 auto 0 auto;
                        margin-top:35px;

                        section{
                            // border:$borderTest;
                            position:relative;
                            @include setPadMar();
                            border-left:2px solid $sectionDeco;
                            transition: 0.5s;
                            
                            //inside sections
                            .sectionTitle{
                                border:$borderTest;
                                @include setPadMar();
                                margin-left:15px;
                                font-size:30px;
                            }
                            ul{
                                border:$borderTest;
                                li{
                                    border:$borderTest;
                                    // .year{
                                    //     font-weight:bold;
                                    // }
                                    p{
                                        @include setPadMar();
                                        margin-bottom:10px;
                                    }
                                }
                            }
                            #eduList > li{
                                // background-color:lightcoral;
                                width:fit-content;
                                min-width:500px;
                                // max-width:500px;
                                span{
                                    font-weight:bold;
                                }
                            }
                        }
                        section:hover > .roundDeco{
                            background-color:$lightBlue;
                            transform:scale(1.25);
                            transition:0.5s;
                            // box-shadow: 0px 1px gray;
                        }
                        section:hover{
                            border-left:2px solid $lightBlue;
                        }
                    }
                }
            }
        }
    }
}