$borderTest:1px solid red;
@mixin setPadMar {
    margin:0;
    padding:0;
}
@mixin center {
    margin: 0 auto 0 auto;
}
@mixin setFull {
    width:100%;
    height:100%;
}
@mixin backgroundColor ($opacity){
    background-color:rgba(178,202,238,$opacity);
}
@mixin alignJustifyCenter{
    align-items: center;
    justify-content: center;
}
@mixin bannerBackground($opacity){
    background:url("images/DecoBanner.svg");
    background-repeat: repeat-y;
    background-size:75%;
    opacity: $opacity;
}

//fonts
$lato:'Lato', sans-serif;
$playfair: 'Playfair Display', serif;
$playfairSC:'Playfair Display SC', serif;

//colors
$sectionDeco: lightgray;
$backdropVar:30%;
$darkBlue:#162E50;
$lightBlue:#618FCA;
$iconSize:50px;

$nav-background:#F7FAFD;

// media queries
$transition03: 0.3s;
$media1050:1050px;
$media900: 900px;
$media750:750px; 
$media600:600px;
$media450:450px;
$media350:350px;



html::-webkit-scrollbar{
    display:none;
}
html{
    @include setFull();
    scroll-behavior: smooth;
    //hide scroll bar
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    font-family:$lato;
    color:$darkBlue;

    body{
        // border:$borderTest;
        @include setPadMar();
        @include setFull();
        overflow:hidden;
        display:flex;
        flex-direction:row;
        @include backgroundColor(0.1);

        //banner
        .banner{
            // border:$borderTest;
            position: relative;
            width:50px;
            height:100%;
            overflow:hidden;
        }
        #resumeBanner{
            position:fixed;
            position: -webkit-sticky;
            left:0;
            top:0;
            // border:$borderTest;
            height:100%;
            @include backgroundColor(1);
            @include bannerBackground(15%);
            transform: rotateZ(180deg);
            width:0;
            transition: 0.15s;
            z-index:2;
        }

        #content{
            @include setFull();
            overflow-y:scroll;
            transition: 0.5s;
            // border:$borderTest;
            #react{
                @include setFull();
                position:relative;
                //first greeting page
                #greetingSection{
                    @include setFull();
                    min-height:700px;
                    @include backgroundColor(0.15);
                    display:flex;
                    flex-direction: row;
                    position: relative;
                    //decoBanner
                    #greetingBanner{
                        @include bannerBackground(50%);
                        min-width: 50px;
                    }
                    //content
                    #greetingContent{
                        // border:$borderTest;
                        @include setFull();
                        display:flex;
                        flex-direction: column;
                        //welcome bar
                        #welcome{
                            // border:$borderTest;
                            position: relative;
                            width:fit-content;
                            height:fit-content;
                            padding-left:5%;
                            margin-top:15px;
                            font-family:$playfair;
                            font-weight:100;
                            @media only screen and (max-width:$media900){
                                padding-left:10px;
                            }
                            span{  
                                border-top:2px solid $darkBlue;
                                padding-top:10px;
                                font-size:18px;
                            }
                        }

                        //the actual content (finally)
                        #greetings{
                            // border:$borderTest;
                            @include setFull();
                            display:grid;
                            grid-template-columns:1fr 1fr;
                            grid-template-rows: 1fr 1fr;
                            grid-template-areas: 'greeting logo'
                                                 'greeting logo';

                            @media only screen and (max-width:$media750){
                                grid-template-areas:'logo logo'
                                                     'greeting greeting';
                            }
                            align-items: center;
                            justify-content: center;

                            //right side -> images
                            #logoImage{
                                // border:$borderTest;
                                position: relative;
                                grid-area:logo;
                                width:100%;
                                height:100%;
                                display:flex;
                                align-items: center;
                                justify-content: center;
                                #imageSize{
                                    // border:$borderTest;
                                    position: relative;
                                    width:40%;
                                    min-width:250px;
                                    max-width:350px;
                                    height:fit-content;
                                    img{
                                        @include setFull();
                                        object-fit: contain;
                                        margin-bottom: $backdropVar;
                                        @media only screen and (max-width:$media750){
                                            margin-top:15%;
                                            margin-bottom:15%;
                                        }
                                    }
                                    #portfolioBackdrop{
                                        position: absolute;
                                        z-index: -1;
                                        top:calc(70 - $backdropVar) + "px";
                                        right:70px;
                                        transition:$transition03;
                                        @media only screen and (max-width:$media900){
                                            right:50px;
                                            top:calc(50 - $backdropVar) + "px";
                                        }
                                        @media only screen and (max-width:$media750){
                                            right:25px;
                                            top:calc(25 - $backdropVar) + "px";
                                        }
                                        @media only screen and (max-width:$media450){
                                            right:0;
                                        }
                                    }
                                    
                                }
                            }
                            #greets{
                                // border:$borderTest;
                                grid-area:greeting;
                                @include setFull();
                                max-height:750px;
                                display:flex;
                                @include alignJustifyCenter();
                                #container{
                                    // border:$borderTest;
                                    width:75%;
                                    min-width:450px;
                                    max-width:550px;
                                    height:100%;
                                    margin-left:20%;
                                    
                                    @media only screen and (max-width:$media900){
                                        width:100%;
                                        min-width:300px;
                                        margin-left:10px;
                                    }

                                    display:flex;
                                    flex-direction: column;
                                    justify-content: space-evenly;
                                    #greetingInfo{
                                        // border:$borderTest;
                                        h1{
                                            font-size:3.75vw;
                                            font-family: $playfairSC;
                                            font-weight:900;
                                            letter-spacing:0.2rem;
                                            transition:$transition03;
                                            @media only screen and (max-width:$media1050){
                                                font-size:4.5vw;
                                            }
                                            @media only screen and (max-width:$media750){
                                                font-size:40px;
                                            }
                                            @media only screen and (max-width:$media450){
                                                font-size:30px;
                                            }
                                        }
                                        h2{
                                            font-size:1.5vw;
                                            font-weight:400;
                                            transition:$transition03;
                                            @media only screen and (max-width:$media1050){
                                                font-size:2vw;
                                            }
                                            @media only screen and (max-width:$media750){
                                                font-size:20px;
                                            }
                                            @media only screen and (max-width:$media450){
                                                font-size:4vw;
                                            }
                                        }
                                    }

                                    //below are all of the links
                                    #refLinks{
                                        // border:$borderTest;
                                        width:25%;
                                        height:fit-content;
                                        min-width: 125px;
                                        display:grid;
                                        grid-template-columns: 1fr 1fr;
                                        grid-template-areas: 'linkedin github';
                                        
                                        @include alignJustifyCenter();
                                        justify-content: space-evenly;
                                        a,a:visited{
                                            color:$lightBlue;
                                            text-decoration:none;
                                            display:flex;
                                            @include alignJustifyCenter();
                                        }
                                        a:hover{
                                            text-shadow: 1px 1px $darkBlue;
                                            transition:0.3s;
                                        }
                                        #linkedIn{
                                            grid-area:linkedin;
                                            transition: $transition03;
                                            font-size:$iconSize;
                                        }
                                        #gitHub{
                                            grid-area:github;
                                            transition: $transition03;
                                            font-size:$iconSize;
                                        }
                                        @media only screen and (max-width:$media450){
                                            #linkedIn, #gitHub{
                                                font-size:35px;
                                            }
                                        }
                                        #scrollButton:hover{
                                            box-shadow: 1px 1px $darkBlue;
                                            transition:0.3s;
                                            text-shadow: none;
                                        }
                                        
                                    }
                                }
                            }
                        }

                    }

                }
                //second resume section
                #resumeSection{
                    @include setFull();
                    height:fit-content;
                    display:flex;
                    flex-direction:column;
                    
                    //narv bar for resume section
                    #resume-navBar{
                        // border:$borderTest;
                        height:fit-content;
                        width:100%;
                        position:sticky;
                        top:0;
                        background-color:$nav-background;
                        z-index:1;
                        display:none;
                        #resume-navBar-name{
                            position: relative;
                            // border:$borderTest;
                            @include setPadMar();
                            text-align: center;
                            font-family:$playfairSC;
                            font-weight:700;
                            font-size:40px;

                        }
                        #refLinks{
                            // border:$borderTest;
                            position: relative;
                            font-size:35px;
                            width:150px;
                            margin:0 auto 0 auto;
                            display:flex;
                            flex-direction:row;
                            justify-content: space-evenly;
                            a,a:hover{
                                color:$lightBlue;
                                transition: 0.3s;
                            }
                            a:hover{
                                text-shadow: 1px 1px $darkBlue;
                                transition: 0.3s;
                            }
                        }
                    }

                    .roundDeco{
                        width:20px;
                        height:20px;
                        border-radius:25px;
                        background-color:$sectionDeco;
                        position: absolute;
                        top:0px;
                        left:-10px;
                        transition: 0.5s;
                    }
                    #resumeContext{
                        @include setFull();
                        // border:$borderTest;
                        width:75%;
                        transition: $transition03;
                        @media only screen and (max-width:$media750){
                            width:85%;
                        }

                        margin:0 auto 0 auto;
                        @media only screen and (max-width:$media600){
                            margin-left:55px;
                        }
                        margin-top:50px;

                        section{
                            // border:$borderTest;
                            position:relative;
                            @include setPadMar();
                            border-left:2px solid $sectionDeco;
                            transition: 0.5s;
                            
                            //inside sections
                            .sectionTitle{
                                // border:$borderTest;
                                @include setPadMar();
                                position: relative;
                                top:-10px;
                                margin-left:15px;
                                font-family:$playfairSC;
                                font-size:28px;
                                font-weight:600;

                                transition:$transition03;
                                @media only screen and (max-width:$media900){
                                    top:-7px;
                                    font-size:24px;
                                }
                                @media only screen and (max-width:$media600){
                                    top:-5px;
                                    font-size:20px;
                                }
                                @media only screen and(max-width:$media450){
                                    font-size:18px;
                                    top:-3px;
                                }
                            }
                            ul{
                                // border:$borderTest;
                                padding-bottom:15px;
                                transition: $transition03;
                                @media only screen and (max-width:$media600){
                                    font-size:15px;
                                    padding-inline-start: 25px;
                                }
                                @media only screen and (max-width:$media450){
                                    font-size:13px;
                                }
                                li{
                                    // border:$borderTest;
                                    padding-top:5px;
                                    p{
                                        @include setPadMar();
                                        margin-bottom:5px;
                                    }
                                    .companyName{
                                        font-style: italic;
                                    }
                                    a,a:visited{
                                        color:$darkBlue;
                                    }
                                }
                            }
                            #eduList > li{
                                width:fit-content;
                                max-width:500px;
                                span{
                                    font-weight:bold;
                                }
                            }
                        }
                        section:hover > .roundDeco{
                            background-color:$lightBlue;
                            transform:scale(1.25);
                            transition:0.5s;
                        }
                        section:hover{
                            border-left:2px solid $lightBlue;
                        }
                    }
                }
            }
        }
    }
}